// fonts
.fp {font-family: 'Open Sans', sans-serif;} // font primary
.fh {font-family: 'Officina Sans', sans-serif;} // font header
.fi {font-family: 'LigatureSymbols', sans-serif;} // font icon
.fzocial {font-family: 'zocial-icons', sans-serif;} // font zocial icon

// body
@bb: #fff; // body background

// colors
@c1: #ff7b00;
@c2: #c41414;
@c3: #adbd00;
@c4: #f9b700;
@c5: #366b00;
@c6: #003479;
@grey: #626a7b;
@blue: #465c79;
@yellow: #ffce47;
@cp: #333; // color primary
@cl: @c6; // color link

// font sizes
@fsp: 16px; // font size primary

// line heights
@lhh: 1.2; // line height header
@lhp: 1.45; // line height primary

// layout
@content-width: 1160px;
@content-padding: 20px;