#page-header {
	.box-shadow(0 0 6px fade(#000,20%));
	position: relative;
	z-index: 999;
	border-bottom: 1px solid #d5d5d5;
	margin: 0 0 40px;
	.top {
		overflow: hidden;
		background: @c6;
	}
	.logo {
		position: relative;
		float: left;
		width: 40%;
		margin: 36px 0 30px;
		font-size: 44px;
		line-height: 1;
		letter-spacing: 0.03em;
		color: @c6;
		font-weight: bold;
		a {
			.fh;
			display: block;
			text-decoration: none;
			color: @c6;
			padding: 60px 0 0 107px;
			margin: 0;
			background: url(../images/logo/01.png) no-repeat;
			small {
				.fp;
				display: block;
				font-size: 15px;
				letter-spacing: 0.01em;
				font-weight: normal;
				margin: 3px 0 0 3px;
			}
		}
	}
}
.home_invitations {
	position: relative;
	padding: 50px 0 23px;
	color: #fff;
	background: @blue;
	a {
		color: #fff;
	}
}
.home_news {
	position: relative;
	padding: 64px 0 40px;
	background: #e3e7eb;
}
.bottom_partners {
	position: relative;
	padding: 50px 0 4px;
}
.bottom_advert {
	position: relative;
	padding: 46px 0 20px;
	background: #f6f7f8;
}
.bottom_offer {
	position: relative;
	padding: 48px 0 68px;
	background: #e3e7eb;
}
#page-footer {
	padding: 44px 0;
	.container {
		padding-left: 113px;
	}
	.logo {
		.fh;
		float: left;
		position: relative;
		color: @c6;
		font-size: 19px;
		line-height: 1;
		p {
			margin: 0 0 9px;
		}
		&:before{
			position: absolute;
			left: -89px;
			top: -4px;
			content: '';
			width: 72px;
			height: 72px;
			background: url(../images/logo/01.png) no-repeat;
			background-size: 100% 100%;
		}
		mark {
			font-weight: bold;
			color: @c6;
		}
		small {
			.fp;
			font-size: 14px;
		}
	}
	.xart {
		.fh;
		margin: 4px 0 20px;
		float: right;
		text-transform: uppercase;
		font-size: 12px;
		a {
			color: @cp;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			margin: 1px 0 0 10px;
		}
	}
	.copy {
		clear: both;
		overflow: hidden;
		font-size: 13px;
		margin: 0 0 15px;
		p {
			position: relative;
			display: inline-block;
			&:before{
				position: absolute;
				content: '';
				bottom: 3px;
				left: 100%;
				margin: 0 0 0 48px;
				width: 999em;
				border-top: 1px dotted @cp;
			}
		}
	}
	.info {
		color: #999;
		font-size: 13px;
	}
}
#col-main {
	width: 63.394%;
	float: left;
	margin-bottom: 80px;
}
#col-right {
	float: right;
	width: 32.144%;
	margin-bottom: 80px;
}
#gotop{
	a{
		.transition(0.2s);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 48px;
		text-align: center;
		background: @blue;
		border: 1px solid fade(#fff,20%);
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: '\e135';
			font-size: 36px;
		}
		&:hover{
			background: darken(@blue,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}