.mod_breadcrumbs{
	ul{
		.rul;
		.clearfix;
		margin: -11px 0 50px;
		padding: 0 0 19px;
		border-bottom: 1px dotted @grey;
		li {
			float: left;
			font-size: 15px;
			margin-right: 15px;
			margin-bottom: 7px;
			padding-left: 10px;
			font-weight: bold;
			color: @c6;
			&:before{
				top: 5px;
				font-size: 10px;
				color: @cp;
			}
			&.home {
				padding-left: 0;
				&:before{
					display: none;
				}
				a {
					display: inline-block;
					margin: -7px 0 -9px;
					white-space: nowrap;
					width: 25px;
					overflow: hidden;
					font-size: 30px;
					line-height: 1;
					text-decoration: none;
					font-weight: normal;
					&:hover{
						color: @yellow;
					}
					&:before{
						.fi;
						float: left;
						width: 25px;
						content: '\e072';
					}
				}
			}
			a {
				color: @cp;
				font-weight: normal;
			}
		}
	}
}
.mod_menu-top {
	.clearfix;
	float: right;
	ul {
		.rul;
		li {
			.rli;
			float: left;
			margin: 0 0 0 20px;
			img {
				.box-shadow(0 0 6px #000);
				display: block;
			}
		}
	}
}
.social-media-list {
	ul {
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			margin: 0 0 0 9px;
			a {
				.border-radius(50%);
				.transition(0.2s);
				.box-shadow(inset 3px 3px 0 fade(#000,30%));
				display: block;
				width: 38px;
				height: 38px;
				line-height: 38px;
				font-size: 20px;
				overflow: hidden;
				color: #fff;
				text-align: center;
				white-space: nowrap;
				background: @c6;
				&:hover{
					background: lighten(@c6,5%);
				}
				&:before{
					.fzocial;
					display: inline-block;
					width: 38px;
					content: '';
					text-shadow: 3px 3px 0 fade(#000,60%);
				}
			}
			&.facebook {
				a {
					&:before{
						.fzocial;
						content: '\e83d';
					}
				}
			}
			&.youtube {
				a {
					&:before{
						.fzocial;
						content: '\e831';
					}
				}
			}
			&.wikipedia {
				a {
					&:before{
						.fzocial;
						content: '\e800';
					}
				}
			}
		}
	}
}
.mod_menu-social {
	position: relative;
	margin: 16px 0;
	width: 15.2%;
	float: right;
	padding: 1px 0 1px 12px;
	border-left: 1px solid @grey;
	.social-media-list;
}
.mod_jflanguageselection {
	z-index: 1;
	position: relative;
	width: 25%;
	float: right;
	text-align: right;
	margin: 16px 0 0;
	.toggle {
		position: relative;
		display: inline-block;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 1;
		letter-spacing: 0.04em;
		margin: 0 37px 0 0;
		padding: 15px 22px 15px 33px;
		cursor: pointer;
		&:before, &:after{
			.fi;
			position: absolute;
			top: 5px;
			left: 0;
			font-size: 31px;
			content: '\e058';
			letter-spacing: 0;
		}
		&:after{
			font-size: 13px;
			content: '\e03e';
			left: inherit;
			right: 0;
			top: 15px;
		}
	}
	ul {
		.rul;
		.transition(0.2s);
		position: absolute;
		top: 100%;
		right: 36px;
		max-height: 0px;
		overflow: hidden;
		li {
			.rli;
			&.act {
				a {
					background: darken(@c6,5%);
				}
			}
			a {
				.transition(0.2s);
				display: block;
				color: #fff;
				text-decoration: none;
				font-size: 14px;
				padding: 10px 30px;
				text-align: left;
				background: @c6;
				&:hover{
					background: lighten(@c6,5%);
				}
			}
		}
	}
	&:hover{
		.toggle {
			color: @c6;
		}
		ul {
			max-height: 300px;
			overflow: auto;
		}
	}
}
.mod_banners-header {
	position: relative;
	border-top: 1px dotted @grey;
	width: 57.6%;
	float: right;
	padding: 24px 0 0;
	ul {
		.rul;
		.clearfix;
		margin: 0 0 0 -40px;
		li {
			.rli;
			float: left;
			padding: 0 0 19px 40px;
		}
	}
}
.mod_menu-main {
	position: relative;
	min-width: @content-width;
	clear: both;
	border-top: 1px dotted @grey;
	.toggle {
		.fh;
		display: none;
		position: relative;
		float: right;
		margin: 15px 0;
		padding: 0 46px 0 0;
		cursor: pointer;
		text-transform: uppercase;
		color: @blue;
		font-weight: bold;
		font-size: 20px;
		line-height: 1.2;
		span{
			position: absolute;
			content: '';
			right: 0;
			top: 0;
			width: 32px;
			height: 4px;
			background: @blue;
			&:nth-child(2) {
				top: 50%;
				margin-top: -2px;
			}
			&:nth-child(3) {
				margin-top: -4px;
				top: 100%;
			}
		}
	}
	&>.container>ul {
		.rul;
		.clearfix;
		padding: 25px 0 24px;
		&>li {
			.rli;
			float: left;
			width: 16.6666%;
			padding: 0 0 5px;
			text-align: center;
			border-right: 1px solid @grey;
			&:first-child {
				border-left: 1px solid @grey;
			}
			&>a {
				.fh;
				position: relative;
				text-decoration: none;
				text-transform: uppercase;
				display: inline-block;
				padding: 11px 0 8px;
				white-space: nowrap;
				font-size: 17px;
				font-weight: bold;
				line-height: 1;
				color: @cp;
				&:before{
					.transition(0.2s);
					position: absolute;
					content: '';
					left: 0;
					bottom: 0;
					height: 3px;
					width: 100%;
					background: @cp;
				}
				&:hover{
					&:before{
						width: 20px;
					}
				}
			}
			&.item_01 a:before {background: @c1;}
			&.item_02 a:before {background: @c2;}
			&.item_03 a:before {background: @c3;}
			&.item_04 a:before {background: @c4;}
			&.item_05 a:before {background: @c5;}
			&.item_06 a:before {background: @c6;}
		}
	}
}
.mod_custom-slider {
	position: relative;
	height: 451px;
	overflow: hidden;
	margin: 0 0 40px;
	.items {
		white-space: nowrap;
		overflow: visible!important;
		.item {
			.clearfix;
			display: inline-block;
			margin: 0 40px 0 0;
			width: (@content-width)-40;
			white-space: normal;
			.inner {
				margin: 0 -10px;
			}
			.article {
				float: left;
				width: 33.3333%;
				padding: 0 10px;
				margin: 0 0 11px;
				a {
					.clearfix;
					position: relative;
					display: block;
					text-decoration: none;
					color: #fff;
					figure {
						position: relative;
						overflow: hidden;
						img {
							.transition(0.2s);
							display: block;
						}
					}
					.content {
						.transition(0.1s);
						position: absolute;
						bottom: 0;
						left: 0;
						width: 100%;
						padding: 30px 18px 4px;
						font-size: 14px;
						background-image: -moz-linear-gradient(top,  rgba(0,52,121,0) 0%, rgba(0,52,121,1) 100%);
						background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,52,121,0)), color-stop(100%,rgba(0,52,121,1)));
						background-image: -webkit-linear-gradient(top,  rgba(0,52,121,0) 0%,rgba(0,52,121,1) 100%);
						background-image: -o-linear-gradient(top,  rgba(0,52,121,0) 0%,rgba(0,52,121,1) 100%);
						background-image: -ms-linear-gradient(top,  rgba(0,52,121,0) 0%,rgba(0,52,121,1) 100%);
						background-image: linear-gradient(to bottom,  rgba(0,52,121,0) 0%,rgba(0,52,121,1) 100%);
						h2 {
							color: #fff;
							margin: 0;
							text-transform: uppercase;
							font-size: 24px;
						}
						p {
							margin: 0 0 10px;
						}
					}
					&:hover{
						figure {
							img {
								-webkit-transform: scale(1.04);
								-moz-transform: scale(1.04);
								-o-transform: scale(1.04);
								transform: scale(1.04);
							}
						}
					}
				}
				&.main {
					width: 66.6666%;
					a {
						.content {
							font-size: 16px;
							padding: 27px 40px 17px;
							&:before{
								position: absolute;
								z-index: 1;
								bottom: 0;
								right: 0;
								content: '';
								border-left: 40px solid transparent;
								border-bottom: 40px solid transparent;	
							}
							h2 {
								display: inline-block;
								background: @c6;
								font-size: 30px;
								margin: 0 0 20px -40px;
								padding: 18px 40px;
							}
						}
					}

				}
			}
			&.item_01 .main a .content:before {border-bottom-color: @c1;}
			&.item_02 .main a .content:before {border-bottom-color: @c2;}
			&.item_03 .main a .content:before {border-bottom-color: @c3;}
			&.item_04 .main a .content:before {border-bottom-color: @c4;}
			&.item_05 .main a .content:before {border-bottom-color: @c5;}
			&.item_06 .main a .content:before {border-bottom-color: @c6;}
		}
	}
	.prev,.next {
		.transition(0.2s);
		position: absolute;
		z-index: 101;
		top: 0;
		right: 100%;
		height: 100%;
		width: 999em;
		margin: 0 -20px 0 0;
		font-size: 38px;
		line-height: 1;
		color: @cp;
		background: #fff;
		background: fade(#fff,70%);
		&:hover{
			color: @yellow;
			background: fade(#fff,30%);
		}
		&:before{
			.fi;
			position: absolute;
			top: 50%;
			right: 10px;
			margin: -20px 0 0;
			content: '\e080';
		}
	}
	.next {
		right: inherit;
		left: 100%;
		margin: 0 0 0 -20px;
		&:before{
			right: 0;
			left: 10px;
			content: '\e112';
		}
	}
}
.title_id_01 {
	.fh;
	position: relative;
	font-size: 30px;
	line-height: 1.25;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	padding: 0 0 0 83px;
	margin: 0 0 43px;
	&:before{
		.fi;
		position: absolute;
		left: 17px;
		top: -8px;
		width: 52px;
		height: 52px;
		content: '\e112';
		padding: 7px 3px 0 0;
		line-height: 1;
		font-weight: normal;
		text-align: center;
		font-size: 30px;
		background: url(../images/bg/01.png) no-repeat;
		background-size: 100% 100%;
	}
}
.mod_custom-invitation, .mod_custom-prepare {
	float: left;
	width: 25%;
	padding: 0 10px 0 0;
	margin:  0 0 30px;
	.mod-title {
		.title_id_01;
		&:before{
			content: '\e075';
		}
	}
	ul {
		.rul;
		position: relative;
		li {
			.rli;
			width: 100%;
			padding: 0 30px;
			img {
				display: block;
			}
		}
		.prev, .next {
			.fi;
			.transition(0.2s);
			position: absolute;
			z-index: 101;
			top: 50%;
			left: 0;
			color: @cp;
			text-decoration: none;
			font-size: 38px;
			line-height: 1;
			margin: -20px 0 0;
			&:hover{
				color: #fff;
			}
			&:before{
				content: '\e080';
			}
		}
		.next {
			left: inherit;
			right: 0;
			&:before{
				content: '\e112';
			}
		}
	}
}
.mod_custom-prepare {
	padding: 0 0 0 10px;
	.mod-title {
		padding-left: 75px;
		&:before{
			margin-left: -5px;
			content: '\e10d';
		}
	}
}
.mod_custom-items {
	float: left;
	width: 50%;
	text-align: center;
	padding: 0 7.2%;
	margin: 0 0 30px;
	.mod-title {
		.title_id_01;
		position: relative;
		left: -10px;
		display: inline-block;
		&:before{
			content: '\e15e';
		}
	}
	.items {
		padding: 30px 0 36px;
		border-top: 1px dotted #fff;
		border-bottom: 1px dotted #fff;
		.item {
			position: relative;
			text-align: left;
			padding: 0 0 0 80px;
			margin: 0 0 23px;
			font-size: 14px;
			line-height: 1.3;
			.date {
				.fh;
				text-align: center;
				position: absolute;
				left: 3px;
				top: 17px;
				width: 52px;
				padding: 3px 0;
				line-height: 1.1;
				font-weight: bold;
				background: #6b7d94;
				&:before{
					.fi;
					position: absolute;
					top: -35px;
					left: -4px;
					color: #6b7d94;
					content: '\e025';
					font-size: 90px;
					line-height: 1;
					font-weight: normal;
				}
				span, mark {
					display: block;
					position: relative;
					z-index: 1;
				}
				mark {
					color: #f9b700;
				}
			}
			h2 {
				.fp;
				font-size: 16px;
				margin: 0 0 5px;
			}
			p {
				margin: 0 0 5px;
			}
		}
	}
	nav {
		position: relative;
		margin: -28px 0 0;
		a {
			.btn;
			color: @cp;
			background: @c4;
			height: 54px;
			line-height: 54px;
			&:hover{
				background: lighten(@c4,10%);
			}
		}
	}
}
.mod_newsflash_xart {
	width: 74.55%;
	float: left;
	margin: 0 0 30px;
	.mod-title {
		.fh;
		float: left;
		font-weight: bold;
		margin: -95px 0 12px;
		padding: 24px 30px;
		text-transform: uppercase;
		color: @c6;
		min-width: 31.5%;
		font-size: 30px;
		line-height: 1.2;
		background: #e3e7eb;
	}
	.items {
		clear: both;
		margin: 0 -10px;
		.item {
			display: inline-block;
			vertical-align: top;
			width: 33.3333%;
			padding: 0 10px;
			margin: 0 -4px 10px 0;
			font-size: 14px;
			a {
				position: relative;
				display: block;
				color: @cp;
				text-decoration: none;
				padding: 0 14px;
				min-height: 295px;
				background: #fff;
				&:before{
					position: absolute;
					content: '';
					bottom: 0;
					right: 0;
					border-left: 32px solid transparent;
					border-bottom: 32px solid transparent;
				}
				figure {
					overflow: hidden;
					margin: 0 -14px 13px;
					img {
						.transition(0.2s);
						display: block;
					}
				}
				h2 {
					font-size: 18px;
					font-weight: normal;
					margin: 0 0 7px;
				}
				p {
					margin: 0 0 10px;
				}
			}
			&:hover{
				figure {
					img {
						-webkit-transform: scale(1.1);
						-moz-transform: scale(1.1);
						-o-transform: scale(1.1);
						transform: scale(1.1);
					}
				}
			}
			&.item_01 a:before {border-bottom-color: @c1;}
			&.item_02 a:before {border-bottom-color: @c2;}
			&.item_03 a:before {border-bottom-color: @c3;}
			&.item_04 a:before {border-bottom-color: @c4;}
			&.item_04 a:before {border-bottom-color: @c4;}
			&.item_06 a:before {border-bottom-color: @c6;}
		}
	}
	nav {
		position: relative;
		text-align: center;
		margin: 53px 0 0;
		border-top: 1px dotted @grey;
		a {
			.btn;
			position: relative;
			top: -28px;
			min-width: 31.5%;
			color: @cp;
			background: @c4;
			height: 54px;
			line-height: 54px;
			&:hover{
				background: lighten(@c4,10%);
			}
		}
	}
}
.mod_menu-bottom {
	width: 23.7%;
	float: right;
	.bottom_offer & {
		float: left;
		width: 66.072%;
		&>ul {
			margin: 0 -10px;
			&>li {
				display: inline-block;
				vertical-align: top;
				margin-right: -4px;
				padding: 0 10px;
				width: 50%;
				&>a {
					padding: 24px 30px 20px;
				}
				&.has-ul {
					&>a {
						padding-top: 15px;
					}
				}
				ul {
					padding-left: 30px;
					padding-bottom: 14px;
					margin-top: -26px;
				}
			}
		}
	}
	&>ul {
		.rul;
		&>li {
			.rli;
			.clearfix;
			margin: 0 0 2px;
			&>a {
				.fh;
				display: block;
				font-weight: bold;
				text-transform: uppercase;
				font-size: 20px;
				line-height: 1.2;
				padding: 25px 25px 23px;
				text-decoration: none;
				background: @yellow;
				&:hover{
					text-decoration: underline;
				}
			}
			ul {
				.rul;
				margin: -20px 0 0;
				padding: 0 15px 24px 25px;
				font-size: 14px;
				line-height: 1.5;
				background: @yellow;
				li {
					.rli;
					display: inline;
					&:after{
						margin: 0 2px;
						content: '|';
					}
					a {
						color: @cp;
					}
				}
				&.stacked {
					li {
						display: block;
						padding-left: 12px;
						margin: 0 0 7px;
						&:before{
							top: 6px;
							font-size: 9px;
							content: '\e112';
						}
						&:after{
							display: none;
						}
					}
				}
			}
		}
	}
}
.mod_xnewsletter {
	width: 23.7%;
	float: right;
	color: #fff;
	padding: 25px;
	font-size: 14px;
	line-height: 1.38;
	background: @blue;
	margin: 0 0 30px;
	.mod-title {
		.fh;
		font-size: 20px;
		line-height: 1.2;
		font-weight: bold;
		text-transform: uppercase;
		margin: 0 0 5px;
	}
	p {
		margin: 0 0 18px;
	}
	input[type="email"],input[type="text"] {
		position: relative;
		border: 0;
		height: 34px;
		font-size: 14px;
		padding: 5px 10px;
		float: left;
		margin: 0 -36px 0 0;
	}
	button[type="submit"] {
		position: relative;
		width: 34px;
		height: 34px;
		line-height: 34px;
		padding: 0;
		overflow: hidden;
		background: #fff;
		font-size: 20px;
		color: @cp;
		&:hover{
			color: @yellow;
		}
		&:before{
			.fi;
			display: inline-block;
			width: 34px;
			padding: 0 0 0 3px;
			content: '\e112';
		}
	}
	.bottom_offer & {
		padding-top: 27px;
		padding-bottom: 34px;
		width: 32.144%;
		form {
			margin: 39px 0 0;
		}
		input[type="email"],input[type="text"] {
			height: 40px;
			margin-right: -40px;
		}
		button[type="submit"] {
			width: 40px;
			height: 40px;
			line-height: 40px;
			font-size: 22px;
			&:before{
				width: 40px;
				padding-left: 6px;
			}
		}
	}
}
.mod_banners-partners {
	width: 74.55%;
	float: left;
	margin: 0 0 30px;
	.mod-title {
		.fh;
		float: left;
		font-weight: bold;
		margin: -85px 0 10px;
		padding: 24px 30px;
		text-transform: uppercase;
		color: @c6;
		min-width: 31.5%;
		font-size: 30px;
		line-height: 1.2;
		background: #fff;
	}
	ul {
		clear: both;
		.rul;
		.clearfix;
		li {
			.rli;
			float: left;
			padding: 0 0 0 42px;
			img {
				display: block;
			}
		}
	}
	.cycle-carousel-wrap {
		width: 9999em;
	}
	.prev, .next {
		.fi;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 40px;
		color: @cp;
		font-size: 40px;
		line-height: 1;
		text-decoration: none;
		background: #fff;
		&:hover{
			color: @yellow;
		}
		&:before{
			position: absolute;
			top: 50%;
			left: 0;
			margin: -22px 0 0;
			content: '\e080';
		}
	}
	.next {
		left: inherit;
		right: 0;
		&:before{
			left: inherit;
			right: 0;
			content: '\e112';
		}
	}
}
.mod_banners-regional-partner {
	margin: 0 0 30px;
	width: 23.7%;
	float: right;
	.mod-title {
		.fh;
		font-weight: bold;
		margin: -85px 0 20px;
		padding: 24px 10px 24px 30px;
		text-transform: uppercase;
		color: @c6;
		font-size: 23px;
		line-height: 1.2;
		background: #fff;
	}
	ul {
		.rul;
		li {
			.rli;
			margin: 0 0 20px;
			text-align: center;
		}
	}
}
.mod_custom-monthly {
	.clearfix;
	float: left;
	width: 23.5%;
	padding: 0 55px 0 0;
	margin: 0 0 30px;
	.mod-title {
		.fh;
		position: relative;
		font-weight: bold;
		margin: -63px 0 5px;
		padding: 35px 30px 24px 87px;
		text-transform: uppercase;
		color: @c6;
		max-width: 280px;
		font-size: 23px;
		line-height: 1.2;
		background: #f6f7f8;
		&:before{
			.fi;
			position: absolute;
			left: 26px;
			top: 50%;
			margin: -24px 0 0;
			width: 52px;
			height: 52px;
			color: #fff;
			content: '\e041';
			padding: 7px 3px 0 0;
			line-height: 1;
			font-weight: normal;
			text-align: center;
			font-size: 30px;
			background: url(../images/bg/01.png) no-repeat;
			background-size: 100% 100%;
		}
	}
	figure {
		margin: 0 0 37px;
		img {
			display: block;
		}
	}
	nav {
		a {
			.btn;
			display: block;
			height: inherit;
			line-height: 1.2;
			padding: 17px 5px;
			color: @cp;
			white-space: normal;
			background: @yellow;
			&:hover{
				background: lighten(@yellow,10%);
			}
		}
	}
}
.mod_banners-advert {
	float: left;
	width: 38%;
	overflow: hidden;
	margin: 0 0 30px;
	.mod-title {
		.fh;
		padding: 0 15px 0 0;
		margin: 0 0 28px;
		position: relative;
		display: inline-block;
		color: @grey;
		font-weight: bold;
		font-size: 23px;
		line-height: 1.2;
		&:before{
			content: '';
			position: absolute;
			left: 100%;
			bottom: 6px;
			width: 999em;
			border-top: 1px dotted @grey;
		}
	}
	ul {
		.rul;
		.clearfix;
		margin: 0 -7px;
		li {
			.rli;
			float: left;
			width: 33.3333%;
			padding: 0 7px 12px;
			a {
				display: block;
				border: 1px solid @grey;
				img {
					display: block;
				}
			}
		}
	}
}
.mod_custom-gallery {
	float: left;
	width: 38.5%;
	padding: 0 0 0 70px;
	.mod-title {
		.fh;
		float: left;
		text-transform: uppercase;
		font-weight: bold;
		color: @c6;
		font-size: 23px;
		line-height: 1.2;
		margin: 0 0 28px;
	}
	nav {
		float: right;
		font-size: 14px;
		margin: 2px 0 17px;
		a {
			display: inline-block;
			color: @cp;
			&:before{
				.fi;
				float: right;
				color: @blue;
				font-size: 30px;
				margin: -4px 2px 0 11px;
				line-height: 1;
				content: '\e026';
			}
			&:after{
				float: left;
				content: '\203a';
				margin: 0 7px 0 0;
			}
		}
		&.webcam {
			text-transform: uppercase;
			a {
				&:before{
					content: '\e139';
				}
			}
		}
	}
	ul {
		.rul;
		.clearfix;
		clear: both;
		margin: 0 -10px;
		li {
			.rli;
			float: left;
			width: 50%;
			padding: 0 10px 20px;
			a {
				display: block;
				overflow: hidden;
				&:hover{
					img {
						-webkit-transform: scale(1.2);
						-moz-transform: scale(1.2);
						-o-transform: scale(1.2);
						transform: scale(1.2);
					}
				}
				img {
					.transition(0.2s);
					display: block;
				}
			}
		}
	}
}
.mod_menu-social-bottom {
	position: relative;
	float: left;
	width: 38.5%;
	padding: 0 0 0 70px;
	&:before{
		content: '';
		position: absolute;
		left: 70px;
		right: 0;
		top: 0;
		border-top: 1px dotted @grey;
	}
	.mod-title {
		.fh;
		float: left;
		text-transform: uppercase;
		color: @c6;
		font-weight: bold;
		font-size: 23px;
		line-height: 1.2;
		margin: 36px 0;
	}
	.social-media-list;
	ul {
		float: right;
		margin: 28px 0;
		li {
			a {
				height: 44px;
				width: 44px;
				line-height: 44px;
				font-size: 26px;
				&:before{
					width: 44px;
				}
			}
		}
	}
}
.content_video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
	margin: 0 0 30px;
	iframe {
		border: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.content_video_small {
	margin: 0 8%;
}
#article-detail {
	.meta {
		.clearfix;
		margin: 18px 0 33px;
		padding: 0 0 15px;
		border-bottom: 1px dotted @grey;
		.date {
			float: left;
			&:before{
				.fi;
				content: '\e15e';
				margin: -2px 10px 0 0;
				font-size: 25px;
				line-height: 1;
				float: left;
			}
		}
		.addthis {
			float: right;
			margin: -5px 0 0;
			a {
				display: inline-block;
				margin: 0 0 0 2px;
				font-size: 30px;
				line-height: 1;
				text-decoration: none;
				color: lighten(@cp,10%);
				&:hover{
					color: @yellow;
				}
			}
		}
	}
}
.mod_custom-comments {
	margin: 63px 0 0;
	.header {
		.clearfix;
		padding: 0 0 12px;
		margin: 0 0 29px;
		border-bottom: 1px dotted @grey;
		.mod-title {
			.fh;
			float: left;
			font-weight: bold;
			color: @c6;
			font-size: 21px;
			text-transform: uppercase;
			small {
				.fp;
				font-weight: normal;
				color: @cp;
				text-transform: none;
				font-size: 14px;
				margin: 0 0 0 10px;
			}
		}
		.add {
			float: right;
			font-size: 14px;
			margin: 5px 0 0;
			a {
				display: inline-block;
				&:before{
					.fi;
					content: '\e108';
					font-size: 30px;
					line-height: 1;
					float: left;
					margin: -5px 11px 0 0;
				}
				&:after{
					.fi;
					content: '\e112';
					line-height: 1;
					font-size: 9px;
					float: left;
					position: relative;
					top: 7px;
					margin: 0 3px 0 0;
				}
			}
		}
	}
	.items {
		clear: both;
		.item {
			padding: 0 0 22px;
			margin: 0 0 25px;
			border-bottom: 1px dotted lighten(@cp,50%);;
			.name {
				.clearfix;
				font-size: 14px;
				font-style: italic;
				&:before{
					.fi;
					content: '\e137';
					font-size: 24px;
					line-height: 1;
					float: left;
					font-style: normal;
					margin: -2px 10px 0 2px;
				}
				mark {
					font-style: normal;
					color: @c6;
					font-weight: bold;
					font-size: 15px;
				}
			}
			.date {
				font-style: italic;
				font-size: 14px;
				margin: 0 0 12px;
			}
			.content {
				font-size: 14px;
			}
		}
	}
}
.mod_custom-items-sidebar, .mod_custom-news {
	padding: 33px 32px 38px;
	margin: 0 0 30px;
	background: @yellow;
	.mod-title {
		.title_id_01;
		margin: 0 0 28px -18px;
		color: @c6;
		&:before{
			color: #fff;
			content: '\e15e';
			background-image: url(../images/bg/02.png);
		}
	}
	.item {
		font-size: 14px;
		line-height: 1.3;
		margin: 0 0 18px;
		.date {
			margin: 0 0 5px;
		}
		h2 {
			font-size: 18px;
			margin: 0 0 5px;
		}
		p {
			margin: 0;
		}
		nav {
			line-height: 1;
			text-align: right;
			margin: 0 0 29px;
			a {
				display: inline-block;
				&:before{
					.fi;
					float: left;
					margin: 4px 7px 0 0;
					font-size: 8px;
					line-height: 1;
					content: '\e112';
				}
			}
		}
		a {
			color: @cp;
		}
	}
	&>nav {
		margin: 28px 0 0;
		text-align: center;
		a {
			.btn;
			min-width: 80%;
			height: 54px;
			line-height: 54px;
		}
	}
}
.mod_custom-news {
	color: #fff;
	background: @blue;
	.mod-title {
		color: #fff;
		&:before{
			color: #fff;
			content: '\e041';
			background-image: url(../images/bg/01.png);
		}
	}
	.item {
		h2 {
			color: #fff;
		}
		a {
			color: #fff;
		}
	}
	&>nav {
		a {
			color: @c6;
			background: @yellow;
			&:hover{
				background: lighten(@yellow,10%);
			}
		}
	}
}
#calendar-list {
	margin: 0 0 80px;
	.header {
		.clearfix;
		margin: 0 0 37px;
		h1 {
			float: left;
			margin: 0 0 33px;
		}
		.toggle {
			float: right;
			margin: 0 0 30px;
			ul {
				.rul;
				.clearfix;
				margin: 6px 0 0;
				li {
					.rli;
					float: left;
					font-size: 14px;
					margin: 0 0 0 30px;
					a {
						display: inline-block;
						&:before{
							.fi;
							float: left;
							font-size: 30px;
							line-height: 1;
							margin: -5px 12px 0 0;
						}
						&:after{
							.fi;
							content: '\e112';
							line-height: 1;
							font-size: 9px;
							float: left;
							position: relative;
							top: 7px;
							margin: 0 3px 0 0;
						}
					}
					&.act {
						a {
							color: #adadad;
						}
					}
					&.list {
						a {
							&:before{
								content: '\e084';
							}
						}
					}
					&.calendar {
						a {
							&:before{
								content: '\e15e';
							}
						}
					}
				}
			}
		}
		.search {
			.clearfix;
			width: 32.2%;
			float: left;
			clear: left;
			input[type="search"],input[type="text"] {
				float: left;
				margin: 0 -50px 0 0;
			}
			button {
				position: relative;
				width: 50px;
				padding: 0;
				overflow: hidden;
				font-weight: normal;
				font-size: 24px;
				&:before{
					.fi;
					display: inline-block;
					width: 50px;
					content: '\e116';
				}
			}
		}
		.selector {
			clear: right;
			float: right;
			width: 25.5%;
		}
	}
	.navigation {
		.clearfix;
		padding: 18px 0;
		margin: 0 0 44px;
		border-top: 1px dotted @grey;
		border-bottom: 1px dotted @grey;
		.month {
			.fh;
			float: left;
			font-weight: bold;
			color: @c6;
			font-size: 24px;
			line-height: 1.2;
			margin: 6px 0;
			.prev, .next {
				.fi;
				margin: -4px 0 -4px 10px;
				display: inline-block;
				color: @cp;
				font-weight: normal;
				width: 20px;
				line-height: 1;
				overflow: hidden;
				white-space: nowrap;
				text-decoration: none;
				&:hover{
					color: @yellow;
				}
				&:before{
					display: inline-block;
					width: 20px;
					text-align: center;
					content: '\e00c';
				}
			}
			.next {
				&:before{
					content: '\e00d';
				}
			}
		}
		.day {
			.clearfix;
			float: right;
			.today {
				float: left;
				margin: 8px 0 0;
				a {
					display: inline-block;
					color: #fff;
					font-size: 14px;
					padding: 2px 20px;
					background: @c6;
					text-transform: uppercase;
					text-decoration: none;
					color: @c6;
					background: @yellow;
					&:hover{
						background: lighten(@yellow,10%);;
					}
				}
			}
			.toggle {
				float: left;
				padding: 8px 0;
				margin: 0 0 0 20px;
				border-left: 1px solid @cp;
				border-right: 1px solid @cp;
				.prev, .next {
					.fi;
					margin: -1px 19px -6px 19px;
					display: inline-block;
					color: @cp;
					font-weight: normal;
					width: 20px;
					font-size: 24px;
					line-height: 1;
					overflow: hidden;
					white-space: nowrap;
					text-decoration: none;
					&:hover{
						color: @yellow;
					}
					&:before{
						display: inline-block;
						width: 20px;
						text-align: center;
						content: '\e080';
					}
				}
				.next {
					&:before{
						content: '\e112';
					}
				}
			}
			.cal{
				float: left;
				a {
					display: block;
					font-size: 38px;
					color: @c6;
					width: 30px;
					line-height: 1;
					margin: -3px 0 0 18px;
					white-space: nowrap;
					overflow: hidden;
					text-decoration: none;
					&:hover{
						color: @yellow;
					}
					&:before{
						.fi;
						content: '\e15e';
						display: inline-block;
						text-align: right;
						width: 30px;
					}
				}
			}
		}
	}
	.items {
		.item {
			.clearfix;
			margin: 0 0 38px;
			padding: 38px 0 0;
			border-top: 1px dotted @grey;
			&:first-child {
				border: none;
			}
			.date {
				.fh;
				position: relative;
				font-weight: bold;
				color: @c6;
				font-size: 14px;
				float: left;
				width: 15.1%;
				padding: 5px 0 0 46px;
				&:before{
					.fi;
					position: absolute;
					top: -10px;
					left: 0;
					content: '\e15e';
					font-size: 48px;
					line-height: 1;
					color: #dadee4;
					font-weight: normal;
				}
				&:after{
					position: absolute;
					content: '';
					top: 7px;
					left: 1px;
					width: 28px;
					height: 20px;
					background: #dadee4;
				}
			}
			.content {
				float: left;
				width: 84.9%;
				padding: 0 0 0 38px;
				border-left: 1px solid @cp;
				font-size: 14px;
				figure {
					float: right;
					width: 29%;
					padding: 0 0 15px 75px;
					img {
						display: block;
					}
				}
				h2 {
					font-size: 20px;
					line-height: 1.1;
					margin: 0 0 10px;
				}
				nav {
					text-align: right;
					margin: -15px 0 10px;
					a {
						position: relative;
						display: inline-block;
						padding: 0 38px 0 0;
						&:before{
							position: absolute;
							bottom: -11px;
							right: 0;
							content: '';
							border-left: 32px solid transparent;
							border-bottom: 32px solid transparent;
						}
						&:after{
							.fi;
							content: '\e112';
							float: left;
							font-size: 10px;
							line-height: 1;
							margin: 6px 4px 0 0;
						}
					}
				}
			}
			&.item_01 .content nav a:before {border-bottom-color: @c1}
			&.item_02 .content nav a:before {border-bottom-color: @c2}
			&.item_03 .content nav a:before {border-bottom-color: @c3}
			&.item_04 .content nav a:before {border-bottom-color: @c4}
			&.item_05 .content nav a:before {border-bottom-color: @c5}
			&.item_06 .content nav a:before {border-bottom-color: @c6}
		}
	}
}
#calendar-detail {
	.item {
		.clearfix;
		font-size: 14px;
		margin: 0 0 80px;
		figure {
			float: left;
			width: 45.4%;
			background: #fff;
			padding: 5px 53px 20px 0;
		}
		h1 {
			margin-bottom: 23px;
		}
		.meta {
			.fh;
			padding: 19px 0 11px;
			margin: 0 0 30px;
			font-weight: bold;
			font-size: 17px;
			border-top: 1px dotted @grey;
			border-bottom: 1px dotted @grey;
			span {
				position: relative;
				display: inline-block;
				margin: 0 28px 5px 24px;
				&:before{
					.fi;
					position: absolute;
					left: -24px;
					top: -2px;
					font-weight: normal;
					font-size: 23px;
					line-height: 1;
				}
				&.date:before{content: '\e15e';}
				&.time:before{content: '\e12b';}
				&.place:before{content: '\e103';}
			}
		}
	}
}
#catalogue-companies, #catalogue-category {
	margin: 0 0 80px;
	.header {
		.clearfix;
		padding: 0 0 32px;
		margin: 0 0 89px;
		border-bottom: 1px dotted @grey;
		h1 {
			float: left;
			margin: 0 0 33px;
		}
		.add {
			margin: 6px 0 14px;
			padding: 0 0 19px;
			float: right;
			font-size: 14px;
			text-align: right;
			a {
				display: inline-block;
				&:before{
					.fi;
					float: left;
					font-size: 30px;
					line-height: 1;
					margin: -5px 12px 0 0;
					content: '\e108';
				}
				&:after{
					.fi;
					content: '\e112';
					line-height: 1;
					font-size: 9px;
					float: left;
					position: relative;
					top: 7px;
					margin: 0 3px 0 0;
				}
			}
		}
		.search {
			.clearfix;
			width: 25.4%;
			float: left;
			clear: left;
			input[type="search"],input[type="text"] {
				float: left;
				margin: 0 -50px 0 0;
				font-size: 15px;
			}
			button {
				position: relative;
				width: 50px;
				padding: 0;
				overflow: hidden;
				font-weight: normal;
				font-size: 24px;
				&:before{
					.fi;
					display: inline-block;
					width: 50px;
					content: '\e116';
				}
			}
		}
		.alphabetical {
			float: right;
			clear: right;
			width: 72.4%;
			.title {
				font-size: 15px;
			}
			ul {
				.rul;
				.clearfix;
				margin: 0 0 0 -16px;
				li {
					.fh;
					.rli;
					float: left;
					font-weight: bold;
					font-size: 24px;
					margin: 0 0 0 16px;
					text-transform: uppercase;
					&.act {
						a {
							color: @yellow;
						}
					}
					a {
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.list {
		ul {
			.rul;
			li {
				.rli;
				.fh;
				display: inline-block;
				vertical-align: top;
				width: 33.3333%;
				margin: 0 0 53px -4px;
				padding: 0 20px 0 80px;
				font-size: 18px;
				line-height: 1.2;
				color: #666;
				text-transform: uppercase;
				&:before{
					content: '\e04c';
					font-size: 72px;
					color: @blue;
					top: -29px;
					left: 5px;
					line-height: 1
				}
				a {
					&:before{
						position: absolute;
						left: 5px;
						top: -7px;
						color: #fff;
						line-height: 1;
						text-transform: none;
						height: 34px;
						line-height: 34px;
						width: 50px;
						font-size: 30px;
						text-align: center;
					}
				}
			}
		}
	}
	.items {
		margin: 24px 0 0;
		.item {
			.clearfix;
			font-size: 14px;
			padding: 36px 0 0;
			margin: 0 0 35px;
			border-top: 1px dotted @grey;
			figure {
				float: left;
				padding: 6px 40px 0 0;
				width: 18.75%;
			}
			.content {
				float: left;
				width: 80%;
			}
			h2 {
				margin: 0 0 9px;
				font-size: 24px;
			}
			ul {
				.rul;
				.clearfix;
				margin: 0 0 0 -32px;
				li {
					.rli;
					float: left;
					font-size: 16px;
					padding-left: 26px;
					margin: 0 0 0 32px;
					color: @blue;
					&:before{
						color: @c6;
						font-size: 25px;
						top: -1px;
						width: 18px;
						text-align: center;
						font-weight: normal;
					}
					&.web {
						font-weight: bold;
						&:before{
							content: '\e166';
						}
					}
					&.mail {
						&:before{
							content: '\e08a';
						}
					}
					&.phone {
						&:before{
							content: '\e100';
						}
					}
					mark {
						display: inline-block;
						margin: -10px 0;
						font-size: 24px;
						color: @blue;
						letter-spacing: -0.05em;
					}
				}
			}
		}
	}
}
#catalogue-category {
	.header {
		margin-bottom: 57px;
		border: none;
		h1 {
			float: none;
		}
		.add {
			width: 70.537%;
			margin-bottom: 0;
			border-bottom: 1px dotted @grey;
		}
	}
}
#advertising-category {
	margin: 0 0 30px;
	.list {
		margin: 50px 0 0;
		&>ul {
			.rul;
			&>li {
				.rli;
				display: inline-block;
				width: 20%;
				vertical-align: top;
				margin: 0 0 57px -4px;
				padding: 0 0 0 45px;
				font-size: 19px;
				line-height: 1.2;
				color: #4d4d4d;
				&:before{
					content: '\e04c';
					color: @blue;
					font-size: 40px;
					top: -9px;
					left: 5px;
				}
				&>a {
					.fh;
					text-transform: uppercase;
					text-decoration: none;
					font-weight: bold;
					margin: 0 6px 0 0;
					&:hover{
						text-decoration: underline;
					}
				}
				ul {
					.rul;
					font-size:  15px;
					margin: 14px 0 0 -37px;
					li {
						margin: 0 0 10px;
						&:before{
							font-size: 18px;
						}
						a {
							margin: 0 5px 0 0;
						}
					}
				}
			}
		}
	}
}
#advertising-list {
	.header {
		.clearfix;
		margin: 0 0 17px;
		h1 {
			float: left;
		}
		.menu {
			float: right;
			margin: 6px 0;
			ul {
				.rul;
				.clearfix;
				li {
					float: left;
					font-size: 14px;
					margin: 0 0 10px 30px;
					padding: 0 0 0 8px;
					&:before{
						top: 7px;
						font-size: 9px;
					}
				}
			}
		}
	}
	.selector {
		position: relative;
		overflow: hidden;
		.inner {
			position: relative;
			display: inline-block;
			&:before{
				position: absolute;
				content: '';
				left: 100%;
				bottom: 20px;
				width: 999em;
				border-top: 1px dotted @grey;
			}
		}
		select {
			float: left;
			width: 266px;
			margin: 0 20px 20px 0;
		}
	}
	.items {
		.item {
			position: relative;
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin: 0 -4px 40px 0;
			padding: 44px 37px 0 0;
			font-size: 14px;
			border-top: 1px dotted @grey;
			&:nth-child(1), &:nth-child(2) {
				border: none;
			}
			&:nth-child(even) {
				padding-right: 0;
				padding-left: 37px;
				&:before{
					position: absolute;
					left: 0;
					content: '';
					top: 44px;
					bottom: 0;
					border-left: 1px solid @grey;
				}
			}
			figure {
				display: inline-block;
				vertical-align: top;
				width: 38.2%;
				margin: 0 -4px 0 0;
				padding: 0 30px 0 0;
				img {
					display: block;
				}
			}
			.content {
				display: inline-block;
				vertical-align: top;
				width: 61.8%;
			}
			.head {
				.clearfix;
				padding: 0 0 14px;
				margin: 0 0 10px;
				border-bottom: 1px dotted @grey;
				h2 {
					float: left;
					margin: 0;
					font-size: 20px;
					line-height: 1;
				}
				.price {
					.fh;
					float: right;
					color: @c6;
					font-weight: bold;
					font-size: 21px;
					line-height: 1;
				}
			}
			p {
				margin: 0 0 13px;
			}
			.meta {
				padding: 12px 0 0;
				border-top: 1px dotted @grey;
				ul {
					.rul;
					.clearfix;
					margin: 0 0 0 -24px;
					li {
						.rli;
						float: left;
						font-size: 13px;
						margin: 0 0 0 24px;
						padding: 0 0 0 23px;
						&:before{
							top: -4px;
							left: -2px;
							font-size: 24px;
						}
						&.user:before{content: '\e137';}
						&.date:before{content: '\e15e';}
						&.views:before{content: '\e13a';}
					}
				}
			}
		}
	}
}
#advertising-detail {
	h1 {
		display: inline-block;
		margin: 0 0 25px;
		.label {
			float: right;
			position: relative;
			display: inline-block;
			font-weight: normal;
			font-size: 21px;
			line-height: 36px;
			height: 36px;
			text-transform: none;
			color: @c6;
			background: @yellow;
			margin: -2px 0 0 47px;
			padding: 0 22px 0 15px;
			&:before{
				position: absolute;
				content: '';
				top: 0;
				right: 100%;
				border: 18px solid transparent;
				border-right-color: @yellow;
				border-right-width: 12px;
				border-left-width: 0;
			}
		}
	}
	.detail_image {
		display: inline-block;
		vertical-align: top;
		width: 45.7%;
		margin: 0 -2px 50px;
		padding: 15px 55px 0 2px;
		.images {
			.rul;
			margin: 0 0 24px;
			li {
				.rli;
				img {
					display: block;
				}
				&.cycle-slide {
					display: none!important;
					position: static!important;
					&.cycle-slide-active {
						display: block!important;
					}
				}
			}
		}
		.thumbnails {
			.rul;
			margin: 0 -12px 0 0;
			li {
				.rli;
				display: inline-block;
				vertical-align: top;
				margin: 0 0 0 -5px;
				padding: 0 5px 10px;
				width: 25%;
				img {
					display: block;
				}
			}
		}
	}
	.detail_content {
		display: inline-block;
		vertical-align: top;
		width: 54.3%;
		margin: 0 -2px 50px;
		.price {
			font-weight: bold;
			font-size: 16px;
			padding: 0 0 13px;
			margin: 0 0 18px;
			border-bottom: 1px dotted @grey;
			mark {
				.fh;
				font-size: 38px;
				letter-spacing: -0.02em;
				margin: 0 0 0 7px;
				color: @c6;
			}
		}
		.detail_info, .user_info {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			margin: 0 -2px 22px;
			padding: 0 20px 0 2px;
			.title {
				.fh;
				font-weight: bold;
				font-size: 21px;
				color: @c6;
				padding: 0 0 11px;
				margin: 0 0 27px;
				border-bottom: 1px dotted @grey;
			}
		}
		.detail_info {
			ul {
				.rul;
				margin: 0 0 30px;
				li {
					.rli;
					padding: 0 0 0 28px;
					margin: 0 0 11px;
					font-size: 15px;
					.lsf {
						position: absolute;
						left: -5px;
						top: -2px;
						font-size: 24px;
						line-height: 1;
						width: 24px;
						text-align: center;
					}
					mark {
						color: @c6;
					}
				}
			}
		}
		.user_info {
			padding: 0 0 0 25px;
			ul {
				.rul;
				margin: 0 0 37px;
				li {
					.rli;
					padding: 0 0 0 28px;
					margin: 0 0 11px;
					font-size: 15px;
					&.phone, &.user {
						&:before{
							position: absolute;
							left: -5px;
							top: -2px;
							font-size: 24px;
							line-height: 1;
							width: 24px;
							text-align: center;
						}
					}
					&.phone:before {content: '\e100';}
					&.user:before {content: '\e137';}
					mark {
						color: @c6;
						font-size: 22px;
						line-height: 1;
						display: inline-block;
						margin: -4px 0;
						letter-spacing: -0.015em;
					}
				}
			}
			nav {
				a {
					.btn;
					display: block;
					padding: 17px 10px;
					line-height: 1.2;
					white-space: normal;
					height: inherit;
					background: @yellow;
					color: @c6;
					&:hover{
						background: lighten(@yellow,10%);
					}
				}
			}
		}
		.description {
			font-size: 14px;
			line-height: 1.38;
			.title {
				.fh;
				font-weight: bold;
				font-size: 21px;
				color: @c6;
				padding: 0 0 11px;
				margin: 0 0 32px;
				border-bottom: 1px dotted @grey;
			}
		}
		.map {
			position: relative;
			padding-bottom: 50%;
			height: 0;
			margin: 60px 0;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 0;
			}
		}
	}
}