@media (max-width: 991px) {
	.mod_menu-main {
		.toggle {
			display: block;
		}
		&>.container>ul {
			clear: both;
			display: none;
			padding: 0 0 30px;
			&>li {
				float: none;
				width: 100%;
				text-align: left;
				border: 0!important;
				&>a {
					display: block;
					padding: 15px 0;
					&:hover{
						&:before{
							width: 100%;
						}
					}
				}
			}
		}
		&.on {
			&>.container>ul {
				display: block;
			}
		}
	}
}




@media (min-width: 992px) and (max-width: 1199px) {
	@content-width: 960px;
	.container {
		width: @content-width;
	}
	.mod_menu-main, .mod_menu-main {
		min-width: @content-width;
	}
	.mod_custom-slider {
		.items {
			.item {
				width: (@content-width)-40;
			}
		}
	}

	#page-header {
		.logo {
			font-size: 38px;
			a {
				padding: 45px 0 0 90px;
				background-size: 90px 90px;
				small {
					font-size: 13px;
				}
			}
		}
	}

	.mod_menu-social {
		width: 18%;
	}

	.mod_banners-header {
		position: relative;
		border-top: 1px dotted @grey;
		width: 57.6%;
		float: right;
		padding: 24px 0 0;
		ul {
			.rul;
			.clearfix;
			margin: 0 0 0 -40px;
			li {
				max-width: 33.3333%;
			}
		}
	}

	.mod_menu-main {
		&>.container>ul {
			padding: 15px 0;
		}
	}

	.mod_custom-monthly {
		.mod-title {
			padding-left: 65px;
			padding-right: 0;
			&:before{
				left: 0;
			}
		}
	}

	.mod_custom-slider {
		height: 380px;
	}

	.mod_custom-invitation, .mod_custom-prepare {
		.mod-title {
			font-size: 22px;
			padding-top: 3px;
			padding-left: 70px;
		}
	}


	.mod_menu-social-bottom {
		.mod-title {
			float: none;
			margin-bottom: 20px;
		}
		ul {
			float: none;
			margin: 20px 0;
			li {
				margin: 0 5px 5px 0;
			}
		}
	}

	#advertising-category {
		.list {
			&>ul {
				&>li {
					width: 25%;
				}
			}
		}
	}

	#advertising-list {
		.items {
			.item {
				.meta {
					ul {
						li {
							float: none;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}

	#catalogue-companies, #catalogue-category {
		.header {
			.search {
				width: 33.3333%;
			}
			.add {
				width: 65%;
			}
			.alphabetical {
				width: 100%;
				clear: both;
				padding-top: 20px;
			}
		}
		.items {
			.item {
				figure {
					width: 25%;
				}
				.content {
					width: 75%;
				}
			}
		}
	}

	#calendar-list {
		.header {
			.search {
				width: 33.3333%;
			}
			.selector {
				width: 33.3333%;
			}
		}
		.items {
			.item {
				.content {
					figure {
						width: 40%;
					}
				}
			}
		}
	}

}
@media (min-width: 768px) and (max-width: 991px) {
	@content-width: 740px;
	.container {
		width: @content-width;
	}
	.mod_menu-main, .mod_menu-main {
		min-width: @content-width;
	}
	.mod_custom-slider {
		.items {
			.item {
				width: (@content-width)-40;
			}
		}
	}

	#col-main, #col-right {
		width: inherit;
		float: none;
		padding: 0;
	}

	#page-header {
		.container {
			text-align: center;
		}
		.logo {
			width: 100%;
			text-align: center;
			a {
				display: inline-block;
			}
		}
	}

	.mod_menu-social {
		float: left;
		border: 0;
		width: auto;
	}

	.mod_jflanguageselection {
		width: auto;
		.toggle {
			margin: 0;
		}
	}

	.mod_banners-header {
		width: 100%;
		ul {
			text-align: center;
			li {
				display: inline-block;
				float: none;
			}
		}
	}

	.mod_banners-partners {
		width: inherit;
	}
	.mod_banners-regional-partner {
		width: inherit;
		.mod-title {
			margin-top: 0;
		}
		ul {
			li {
				text-align: left;
			}
		}
	}

	.mod_custom-monthly {
		width: 50%;
	}

	.mod_banners-advert {
		width: 50%;
	}

	.mod_custom-gallery {
		width: 50%;
		padding-left: 0;

		ul {
			margin: 0 -3px 20px;
			li {
				width: 25%;
				padding: 0 3px;
			}
		}
	}
	.mod_menu-social-bottom {
		float: none;
		clear: both;
		width: inherit;
		padding: 0;
		&:before{
			left: 0;
		}
		ul {
			float: left;
			margin-left: 20px;
		}
	}

	.mod_custom-slider {
		height: 280px;
		.items {
			.item {
				.article {
					a {
						.content {
							padding: 10px 10px 5px;
							h2 {
								margin: 0;
								font-size: 16px;
								padding: 0px;
							}
							p {
								display: none;
							}
						}
					}
					&.main {
						a {
							.content {
								padding: 0;
								h2 {
									display: block;
									margin: 0;
									font-size: 26px;
									padding: 10px 30px 10px 15px;
								}
							}
						}
					}
				}
			}
		}
	}

	.mod_custom-invitation, .mod_custom-prepare {
		width: 33.3333%;
		float: right;
		padding: 0;
		.mod-title {
			font-size: 22px;
			padding-top: 5px;
		}
		ul {
			margin: 0 40px;
		}
	}
	.mod_custom-items {
		float: left;
		width: 66.6666%;
		padding: 0 20px 0 0;
		.mod-title {
			display: block;
			text-align: left;
		}
	}

	.mod_newsflash_xart {
		width: inherit;
		float: none;
	}

	.home_news .mod_menu-bottom {
		width: 66.6666%;
		padding: 0 0 0 20px;
	}

	.mod_xnewsletter {
		width: 33.3333%;
	}

	#catalogue-companies, #catalogue-category {
		.header {
			.search {
				width: 50%;
				margin-bottom: 20px;
			}
			.add {
				width: 47%;
			}
			.alphabetical {
				width: inherit;
			}
		}
		.list {
			ul {
				li {
					width: 50%;
				}
			}
		}
		.items {
			.item {
				figure {
					width: 33.3333%;
				}
				.content {
					width: 66.6666%;
				}
				ul {
					li {
						float: none;
						margin-bottom: 15px;
					}
				}
			}
		}
	}

	#calendar-list {
		.header {
			.search {
				width: 50%;
			}
			.selector {
				width: 48%;
			}
		}
		.items {
			.item {
				.date {
					width: 20%;
				}
				.content {
					width: 80%;
					figure {
						width: 40%;
						padding-left: 30px;
					}
				}
			}
		}
	}

	#advertising-list {
		.items {
			.item {
				width: inherit;
				padding-left: 0!important;
				padding-right: 0!important;
				border-top: 1px dotted @grey!important;
				&:before{
					display: none;
				}
				figure {
					width: 25%;
				}
				.content {
					width: 75%;
				}
			}
		}
	}

	#advertising-category {
		.list {
			&>ul {
				&>li {
					width: 33.3333%;
				}
			}
		}
	}

	#advertising-detail {
		.detail_image {
			width: inherit;
		}
		.detail_content {
			width: inherit;
		}
	}



}
@media (max-width: 767px) {
	@content-width: 100%;
	.container {
		width: @content-width;
	}
	.mod_menu-main, .mod_menu-main {
		min-width: @content-width;
	}

	#col-main, #col-right {
		width: inherit;
		float: none;
		padding: 0;
	}

	#page-header {
		.container {
			text-align: center;
		}
		.logo {
			width: 100%;
			text-align: center;
			a {
				display: inline-block;
				padding-left: 0;
				padding-top: 90px;
				background-position: top;
				background-size: 80px 80px;
			}
		}
	}

	.mod_menu-social {
		display: none;
	}

	.mod_jflanguageselection {
		float: left;
		width: 50%;
		text-align: left;
		.toggle {
			margin: 0;
		}
	}

	.mod_menu-main {
		border: 0;
		padding-bottom: 10px;
		.toggle {
			margin: -36px 0 0;
		}
	}

	.mod_banners-header {
		display: none;
	}

	.mod_breadcrumbs {
		display: none;
	}

	#article-detail {
		.meta {
			.addthis {
				display: none;
			}
		}
	}

	.content_video_small {
	    margin: 0;
	}

	.mod_menu-bottom {
		.bottom_offer & {
			width: inherit;
			&>ul {
				&>li {
					display: block;
					width: inherit;
					margin: 0 0 2px;
				}
			}
		}
	}

	.mod_xnewsletter {
		.bottom_offer & {
			width: inherit;
		}
	}

	.bottom_partners {
		display: none;
	}

	.bottom_advert {
		display: none;
	}

	.mod_custom-slider {
		height: auto;
		.cycle-carousel-wrap {
			    left: -1340px;
			    position: static!important;
			    white-space: normal!important;
		}
		.items {
			white-space: normal!important;
			.item {
				margin: 0;
				width: auto;
				display: none!important;
				&:nth-child(1),&:nth-child(2) {
					display: block!important;
				}
				&.cycle-sentinel {
					display: none!important;
				}
				.article {
					width: 100%;
					a {
						figure {
							float: left;
							width: 33.3333%;
						}
						.content {
							position: static;
							padding: 0;
							float: left;
							width: 66.6666%;
							background: none;
							color: @cp;
							font-size: 14px;
							padding: 0 0 0 15px;
							h2 {
								color: @c6;
								text-transform: none;
								font-size: 18px;
							}
						}
					}
					&.main {
						width: 100%;
						a {
							figure {
								width: 100%;
							}
							.content {
								position: static;
								padding: 0;
								width: 100%;
								font-size: 14px;
								&:before{
									display: none;
								}
								h2 {
									background: none;
									margin: 0;
									padding: 0;
									color: @c6;
									font-size: 18px;
								}
							}
						}

					}
				}
				&.item_01 .main a .content:before {border-bottom-color: @c1;}
				&.item_02 .main a .content:before {border-bottom-color: @c2;}
				&.item_03 .main a .content:before {border-bottom-color: @c3;}
				&.item_04 .main a .content:before {border-bottom-color: @c4;}
				&.item_05 .main a .content:before {border-bottom-color: @c5;}
				&.item_06 .main a .content:before {border-bottom-color: @c6;}
			}
		}
		.prev,.next {
			display: none;
		}
	}

/*
	.mod_custom-slider {
		height: 0;
		padding: 0 0 130%;
		.items {
			overflow: hidden!important;
			.item {
				margin: 0;
				.article {
					width: 100%;
					float: none;
					&.main {
						width: 100%;
						a {
							figure {
								display: block;
								width: 100%;
								float: none;
							}
							.content {
								position: absolute;
								padding: 0;
								h2 {
									width: 100%;
									float: none;
									font-size: 18px;
									background: none;
									padding: 10px 15px;
									margin: 0;
								}
							}
						}
					}
					a {
						background: @c6;
						figure {
							width: 50%;
							float: left;
						}
						.content {
							position: static;
							padding: 0;
							h2 {
								width: 50%;
								float: left;
								font-size: 18px;
								padding: 10px 15px;
								text-transform: none;
							}
							p {
								display: none;
							}
						}
					}
				}
			}
		}
		.prev {
			right: 75%;
			top: auto;
			bottom: -15px;
			height: auto;
		}
		.next {
			left: 75%;
			top: auto;
			bottom: -15px;
			height: auto;
		}
	}
*/
	.home_invitations {
		display: none;
	}

	.home_news {
		padding-top: 0;
		margin-top: -40px;
	}

	.mod_newsflash_xart {
		width: 100%;
		.mod-title {
			margin: 0;
			padding: 30px 0;
		}
		.items {
			.item {
				width: 100%;
				a {
					padding-bottom: 10px;
				}
			}
		}
	}

	.mod_xnewsletter {
		width: inherit;
	}

	.mod_menu-bottom {
		width: inherit;
	}

	#advertising-detail {
		h1 {
			.label {
				margin-left: 0;
				float: none;
			}
		}
		.detail_image {
			width: inherit;
			padding: 0;
		}
		.detail_content {
			width: inherit;
			.detail_info, .user_info {
				display: block;
				width: inherit;
				padding: 0;
			}
		}
	}

	#advertising-category {
		.list {
			&>ul {
				&>li {
					width: inherit;
					display: block;
				}
			}
		}
	}

	#advertising-list {
		.header {
			h1 {
				float: none;
			}
			.menu {
				float: none;
				ul {
					li {
						float: none;
						margin: 0 0 15px;
					}
				}
			}
		}
		.selector {
			select {
				width: 100%;
				margin-right: 0;
			}
		}
		.items {
			.item {
				padding: 0!important;
				border: 0!important;
				width: 100%;
				margin-bottom: 50px;
				&:before{
					display: none!important;
				}
				figure {
					width: 100%;
					margin-bottom: 20px;
				}
				.content {
					width: 100%;
				}
			}
		}
	}

	#calendar-detail {
		.item {
			figure {
				margin-bottom: 30px;
				width: 100%;
				padding: 0;
			}
		}
	}

	#calendar-list {
		.header {
			h1 {
				float: none;
			}
			.toggle {
				float: none;
				ul {
					li {
						float: none;
						margin: 0 0 10px;
					}
				}
			}
			.search {
				float: none;
				width: 100%;
				margin-bottom: 20px;
			}
			.selector {
				float: none;
				width: 100%;
			}
		}
		.navigation {
			.month {
				float: none;
				text-align: center;
			}
			.day {
				float: none;
				text-align: center;
				.today {
					display: block;
					float: none;
					margin-bottom: 20px;
				}
				.toggle {
					margin: 0;
					display: block;
					float: none;
					border: 0;
				}
				.cal {
					display: block;
					float: none;
					a {
						display: inline-block;
						margin: 0;
					}
				}
			}
		}
		.items {
			.item {
				.date {
					float: none;
					width: 100%;
					margin-bottom: 30px;
				}
				.content {
					width: 100%;
					float: none;
					padding: 0;
					border: 0;
					figure {
						float: none;
						width: 100%;
						padding: 0 0 20px;
					}
				}
			}
		}
	}

	#catalogue-companies, #catalogue-category {
		.header {
			h1 {
				float: none;
			}
			.add {
				float: none;
				width: 100%;
				text-align: left;
				border-bottom: none;
			}
			.search {
				float: none;
				width: 100%;
				margin-bottom: 30px;
			}
			.alphabetical {
				float: none;
				width: 100%;
			}
		}
		.list {
			ul {
				li {
					width: 100%;
				}
			}
		}
		.items {
			.item {
				figure {
					float: none;
					width: 100%;
					padding: 0 0 20px;
				}
				.content {
					float: none;
					width: 100%;
					ul {
						li {
							float: none;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}

	#page-footer {
		.container {
			padding-left: 20px;
			text-align: center;
		}
		.logo {
			padding-top: 50px;
			margin-bottom: 30px;
			&:before{
				left: 50%;
				top: -20px;
				width: 50px;
				height: 50px;
				margin: 0  0 0 -25px;
			}
		}
		.xart {
			float: none;
			img {
				display: block;
				float: none;
				margin: auto;
			}
		}
	}

}