nav.more{
	margin: 20px 0;
	text-align: right;
	a{
		.btn;
		&:after{
			.fi;
			position: relative;
			content: '\e112';
			margin: 0 0 0 10px;
		}
	}
}
table.normal{
	margin:0 0 20px 0;
	width:100%;
	background: lighten(@yellow,28%);
	th,td{
		padding:6px 8px;
		border:1px solid lighten(@yellow,100%);
		font-weight:normal;
	}
	&.compact th,&.compact td{
		padding:2px 8px;
	}
	tr:nth-child(odd) td{
		background: lighten(@yellow,32%);
	}
	th,thead td{
		font-weight: bold;
		color: #fff;
		background: lighten(@yellow,0%)!important;
		a{
			color: #fff;
		}
	}
	tfoot td{
		background: lighten(@yellow,20%)!important;
	}
}
table.info{
	margin:0 0 20px 0;
	td,th{
		padding:0 7px 0 0;
	}
}
form.normal{
	margin:0 0 20px 0;
	label{
		display:block;
		margin:0 0 10px 0;
		font-weight:bold;
	}
	.optgroup label{
		display:inline;
		font-weight:normal;
	}
	input.input-mini{
		width:25px;
		padding-left:0;
		padding-right:0;
		text-align:center;
	}
	input.input-small{
		width:125px;
	}
	input.input-large{
		width:300px;
	}
	.fileinputs{
		position: relative;
		display: inline-block;
		overflow: hidden;
		cursor: default;
		input.type-file{
			position:absolute;
			top: 0;
			right: 0;
			margin: 0;
			padding: 0;
			border: 0;
			width: 100%;
			height: 100%;
			font-size: 100px;
			z-index: 1;
			cursor: default;
			-webkit-opacity: 0;
			-moz-opacity: 0;
			opacity: 0;
			filter: alpha(opacity=0);
		}
		.fakefile {
			.clearfix;
			display: inline-block;
			.input-file-text{
				border-right: 0;
				float: left;
				margin-right: 0;
				padding-right: 0;
				width: inherit;
			}
			input[type="button"] {
				float: left;
			}
		}
	}
}
.search-results .highlight,.results .highlight{
	background: @cl;
	padding: 0 3px;
	color: #fff;
}
.pagehub{
	clear: both;
	text-align: center;
	margin: 20px 0;
	padding: 46px 0 0;
	border-top: 1px dotted @grey;
	a,span{
		.fh;
		font-weight: bold;
		display: inline-block;
		padding: 0 10px;
		font-size: 24px;
		line-height: 1;
		text-decoration: none;
		&:nth-child(1), &:nth-child(2), &:nth-last-child(1), &:nth-last-child(2) {
			&.pagenav-ico {
				position: relative;
				top: 2px;
				overflow: hidden;
				white-space: nowrap;
				padding: 0;
				margin: 0 2px;
				color: @cp;
				text-align: left;
				font-size: 0px;
				&:hover{
					color: @c4;
					border-color: @c4;
				}
				&:before{
					.fi;
					position: relative;
					display: inline-block;
					width: 30px;
					content: '\e00c';
					font-size: 22px;
				}
			}
		}
		&:nth-last-child(1), &:nth-last-child(2) {
			&.pagenav-ico {
				text-align: right;
				&:before{
					content: '\e00d';
				}
			}
		}
		&:nth-child(1) {
			&.pagenav-ico {
				border-left: 5px solid @cp;
			}
		}
		&:nth-last-child(1) {
			&.pagenav-ico {
				border-right: 5px solid @cp;
			}
		}
	}
	a {
		&:hover{
			color: @c4;
		}
	}
	span.pagenav{
		color: @c4;
	}
	span.pagenav-ico{
		cursor: not-allowed;
		color: #ddd!important;
		border-color: #ddd!important;
	}
}
.clear-decor,.description_separator,.article_separator{
	clear: both;
	margin: 30px 0;
	height: 2px;
	background: @yellow;
}
img.img-left,img[align=left]{
	float: left;
	margin: 0 40px 5px 0;
}
img.img-right,img[align=right]{
	float: right;
	margin: 0 0 5px 40px;
}
a.xeditorpopup img{
	.transition(0.2s);
	padding: 1px;
	border: 2px solid lighten(@cp,50%);
}
a.xeditorpopup:hover img{
	border-color: @cl;
}
#system-message dt{
	display:none;
}
#system-message{
	.message{
		padding: 8px 14px;
		margin: 0 0 15px 0;
		color: #fff;
		background: lighten(@blue,20%);
		ul{
			.rul;
			li{
				.rli;
			}
		}
	}
	.notice{
		background: @blue;
	}
	.warning,.error{
		background: @c2;
	}
}
