@font-face {
    font-family: 'Officina Sans';
    src: url('o016013t-webfont.eot');
    src: url('o016013t-webfont.eot?#iefix') format('embedded-opentype'),
         url('o016013t-webfont.woff2') format('woff2'),
         url('o016013t-webfont.woff') format('woff'),
         url('o016013t-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Officina Sans';
    src: url('o016016t-webfont.eot');
    src: url('o016016t-webfont.eot?#iefix') format('embedded-opentype'),
         url('o016016t-webfont.woff2') format('woff2'),
         url('o016016t-webfont.woff') format('woff'),
         url('o016016t-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'Officina Sans';
    src: url('o016033t-webfont.eot');
    src: url('o016033t-webfont.eot?#iefix') format('embedded-opentype'),
         url('o016033t-webfont.woff2') format('woff2'),
         url('o016033t-webfont.woff') format('woff'),
         url('o016033t-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;

}
@font-face {
    font-family: 'Officina Sans';
    src: url('o016036t-webfont.eot');
    src: url('o016036t-webfont.eot?#iefix') format('embedded-opentype'),
         url('o016036t-webfont.woff2') format('woff2'),
         url('o016036t-webfont.woff') format('woff'),
         url('o016036t-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;

}